<div class="right-pd">
    <div class="education">
        <div class="rw">
            <div class="bg-icon-3"><i class="fa-solid fa-graduation-cap icon-3"></i></div>
            <div class="text">EDUCATION</div>
        </div>
        <div class="row px-0">
            <div class="col-6 px-0">
                <div>STANFORD UNIVERSITY</div>
                <div>MASTER DEGREE GRADUATE</div>
                <div>2011-2013</div>
            </div>
            <div class="col-6 px-0">
                <div>UNIVERSITY OF CHICAGO</div>
                <div>BACHELOR DEGREE GRADUATE</div>
                <div>2007-2010</div>
            </div>
        </div>
    </div>
    <div class="h-line"></div>
    <div class="REFERENCES">
        <div class="rw">
            <div class="bg-icon-3"><i class="fa-solid fa-graduation-cap icon-3"></i></div>
            <div class="text">REFERENCES</div>
        </div>
        <div>
            <div>DARWIN .B MAGANA</div>
            <div>1964 Harley Brook Johnstown, PA 15904</div>
            <div>Tel: +1-970-533-3393</div>
            <div>Email: www.yourwebsite.com</div>
        </div>
        <div>
            <div>ROBERT J. BELVIN</div>
            <div>1283 Little Acres Lane Champaign, IL 61820</div>
            <div>Tel: +1-970-533-3393</div>
            <div>Email: www.yourwebsite.com</div>
        </div>
    </div>
    <div class="h-line"></div>
    <div class="JOB-EXPERIENCE">
        <div class="rw">
            <div class="bg-icon-3"><i class="fa-solid fa-graduation-cap icon-3"></i></div>
            <div class="text">JOB EXPERIENCE</div>
        </div>
        <div class="exp-item">
            <div class="exp-header">
                <h3>WEB DESIGNER</h3>
                <span class="years">2020 – Present</span>
            </div>

            <p class="company">Creative Agency / Chicago</p>

            <p class="desc">
                Lorem Ipsum has been the industry's standard dummy text ever since the
                1500s, when an unknown printer took a galley of type.
            </p>
        </div>

        <div class="exp-item">
            <div class="exp-header">
                <h3>GRAPHIC DESIGNER</h3>
                <span class="years">2015 – 2020</span>
            </div>

            <p class="company">Creative Market / Chicago</p>

            <p class="desc">
                Lorem Ipsum has been the industry's standard dummy text ever since the
                1500s, when an unknown printer took a galley of type.
            </p>
        </div>

        <div class="exp-item">
            <div class="exp-header">
                <h3>MARKETING MANAGER</h3>
                <span class="years">2013 – 2015</span>
            </div>

            <p class="company">Manufacturing Agency / NJ</p>

            <p class="desc">
                Lorem Ipsum has been the industry's standard dummy text ever since the
                1500s, when an unknown printer took a galley of type.
            </p>
        </div>
    </div>
    <div class="h-line"></div>
</div>