<div class="pd-3">
    <div class="about-me">
        <div class="rw about-header">
            <div class="bg-icon-3"><i class="fa-solid fa-user icon-3"></i></div>
            <div class="text-5">ABOUT ME</div>
            <i class="fa-solid fa-chevron-down arrow"></i>
        </div>
        <div class="about-content">
            <div class="text-9">
                Lorem Ipsum is simply dummy text of the
                printing and typesetting industry. Lorem
                Ipsum has been the industry's standard
                dummy text ever since the 1500s, when an
                unknown printer took a galley of type.
            </div>
            <div class="text-9">
                It has survived not only five centuries, but
                also the leap into electronic typesetting
                unchanged.
            </div>
        </div>
    </div>
    <div class="h-line-2"></div>
    <div class="SKILLS">
        <div class="rw">
            <div class="bg-icon-3"><i class="fa-solid fa-gear icon-3"></i></div>
            <div class="text-5">SKILLS</div>
        </div>
        <div id="skillsContainer"></div>
    </div>
    <div class="h-line-2"></div>
    <div class="LANGUAGE">
        <div class="rw">
            <div class="bg-icon-3"><i class="fa-solid fa-globe icon-3"></i></div>
            <div class="text-5">LANGUAGE</div>
        </div>
        <div class="language-fl" id="languageContainer"></div>
    </div>
    <div class="h-line-2"></div>
    <div class="HOBBIES">
        <div class="rw">
            <div class="bg-icon-3"><i class="fa-solid fa-flag-checkered icon-3"></i></div>
            <div class="text-5">HOBBIES</div>
        </div>
        <div id="hobbies"></div>
        <div class="h-line-2"></div>
    </div>
</div>